body {
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #fff;
	border-radius: 0;
	border: 0;
	padding: 0;
}

#logo-img {
	background: url("../Images/Logo - Viner Hand ITC.png") no-repeat;
	width: 168px;
	height: 116px;	
}

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	padding-top: 85px;
}

.navbar-brand h1{ /* description of flock */
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

#nav-list {
	margin-top:20px;
}

#nav-list a {
	color: #000;
	text-align: center;
	font-size: 0.9em;
	margin-right: 60px;
	text-transform: uppercase;
}



#nav-list a span {
	font-size: 1.1em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border:	1px solid #000;
}

.navbar-header button.navbar-toggle {
	clear: both;
} 

#home-tiles.container {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
}

/***** Large Devices only *****/
@media (min-width: 1200px) {
 .jumbotron {
 	background:	url('../Images/banner.png') no-repeat;
 	background-position: center;
 	height:350px;
 }
}

/***** Medium Devices only *****/
@media (min-width: 992px) and (max-width: 1199px) {
 .jumbotron {
 	background:	url('../Images/banner.png') no-repeat;
 	background-position: center;
 	height:300px;
 }
}

/***** Small Devices only *****/
@media (min-width: 768px) and (max-width: 991px) {
 .jumbotron {
 	background:	url('../Images/banner.png') no-repeat;
 	background-position: center;
 	height:300px;
 }
}

/***** Extra Small Devices only *****/
@media (max-width: 767px) {
 /* Header */
 #logo-img {
 	background: url("../Images/Logo - Viner Hand ITC middle.png") no-repeat; /* Need to change to proper small logo */
 	position: absolute;
 	left: 0%;
 }

 .jumbotron {
 	padding: 0px;
 }
}

