body {
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url("../Images/Logo - Viner Hand ITC.png") no-repeat;
	width: 168px;
	height: 116px;	
}

.navbar-brand {
	padding-top: 85px;
}

.navbar-brand h1{ /* description of flock */
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

#nav-list {
	margin-top:30px;
}

#nav-list a {
	color: #000;
	text-align: center;
}

#nav-list a:hover {
	background: #E7E7E7;
}

#nav-list a span {
	font-size: 1.1em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border:	1px solid #000;
}

.navbar-header button.navbar-toggle {
	clear: both;
} 

#banner {
	background: url("../Images/banner.png") no-repeat;
}

/***** Large Devices only *****/
@media (min-width: 1200px) {

}

/***** Medium Devices only *****/
@media (min-width: 992px) and (max-width: 1199px) {
 /* Header */
 #logo-img {
 	background: url('../Images/Logo - Viner Hand ITC middle.png') no-repeat; /* Need to change to proper small logo */
 	width: 126px;
 	height: 87px;
 	margin: 5px 5px 5px 0;
 }	
}

/***** Small Devices only *****/
@media (min-width: 768px) and (max-width: 991px) {
 /* Header */
 #logo-img {
 	background: url('../Images/Logo - Viner Hand ITC mobile.png') no-repeat; /* Need to change to proper small logo */
 	width: 84px;
 	height: 58px;
 	margin: 5px 5px 5px 0;
 }
}

/***** Extra Small Devices only *****/
@media (max-width: 767px) {
 /* Header */
 #logo-img {
 	background: url('../Images/Logo - Viner Hand ITC mobile.png') no-repeat; /* Need to change to proper small logo */
 	width: 84px;
 	height: 58px;
 	margin: 5px 5px 5px 0;
 }
}

