body {
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #fff;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background: url("../Images/Logo - Viner Hand ITC.png") no-repeat;
	width: 168px;
	height: 116px;
	
}

.navbar-brand {
	padding-top: 85px;
}

.navbar-brand h1{ /* description of flock */
	font-family: 'Oxygen', sans-serif;
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

